<<<<<<< HEAD
<<<<<<< HEAD
<% @user.discover.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
=======
<h1>test</h1>
>>>>>>> f197ce4 (fix routes)
=======

<% @user.discover.each do |photo| %>
  <%= image_tag photo.image %>
<% end %>
>>>>>>> 2cdf639 (fixing routes)
