<% render "users/tabs", user: current_user %>


<% if current_user.email present? %>
<p><a href="<% current_user.email %>"><%= current_user.email %></p>
<% else %>
<p>no email</p>
<% end %>


  <% @photos.each do |post| %>
    <div class="card" style="width: 18rem;">
      <img src="<%= post.image %>" class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text"><%= post.caption %></p>
      </div>
    </div>
  <% end %>
