<div id="<%= dom_id follower %>">
  <p>
    <strong>Sender:</strong>
    <%= follower.sender_id %>
  </p>

  <p>
    <strong>Recepient:</strong>
    <%= follower.recepient_id %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= follower.status %>
  </p>

</div>
